body {
    background-color: aqua;
    font-family: serif;
}

h1 {
    color: black;
}

h3 {
    color: black;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: blue;
    border-width: 5px;
    width: 5%;
}